In [40]:
import pandas as pd

# headline + backtrans

In [56]:
df_noisy_headline = pd.read_csv('./resources/processed/train_noisy_headline_update.csv', index_col=0)
df_back_trans = pd.read_csv('./resources/processed/for_merge/backtranslate_ver2.csv', index_col=0)

In [57]:
df_noisy_headline

,ID,text,target,target_name,re_text
0,ynat-v1_train_00000,정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보,4,IT과학,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)"
1,ynat-v1_train_00000,정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보,4,IT과학,"KT, 주파수 미사용으로 이용기간 2년 단축 처분"
2,ynat-v1_train_00000,정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보,4,IT과학,"정부, KT 주파수 미사용에 강력한 제재 조치"
3,ynat-v1_train_00001,K찰.국DLwo 로L3한N% 회장 2 T0&}송=,3,사회,"경찰, '국회 불법 로비' 한어총 회장 등 20명 송치"
4,ynat-v1_train_00001,K찰.국DLwo 로L3한N% 회장 2 T0&}송=,3,사회,"교육계, 학교 급식 칸막이 설치 논란 재점화"
...,...,...,...,...,...
4756,ynat-v1_train_02792,"높`X#E율…}BO Q""[/선수 몸값 상승 CAO",1,스포츠,"프로축구 선수 몸값 급등, 선수 에이전트들 수익 급증"
4757,ynat-v1_train_02792,"높`X#E율…}BO Q""[/선수 몸값 상승 CAO",1,스포츠,"선수 몸값 상승, 구단 재정 압박 심화"
4758,ynat-v1_train_02797,텔레그램+한D 등h亞서 2시간H다운…C버T정gf39종!2보,4,IT과학,텔레그램 등 아시아서 2시간 다운...카카오뱅크 서비스 장애 39분 지속(2보)
4759,ynat-v1_train_02797,텔레그램+한D 등h亞서 2시간H다운…C버T정gf39종!2보,4,IT과학,"텔레그램 등 암호화 메신저, 아시아서 2시간 다운...사용자 혼란"
4760,ynat-v1_train_02797,텔레그램+한D 등h亞서 2시간H다운…C버T정gf39종!2보,4,IT과학,"C버전 업데이트 후 텔레그램 등 메신저 2시간 장애 발생, 원인은?"

In [58]:
df_back_trans

,text,ID,target,target_name
0,주파수를 사용하지 않은 정부와 KT는 사용 기간을 2년(합산 2회) 단축하여 처분한다.,ynat-v1_train_00000,4,NaN
1,"KT, 주파수 미사용으로 인한 사용 기간의 2년 단축.",ynat-v1_train_00000,4,NaN
2,미사용 주파수에 대한 정부와 KT에 대한 강력한 제재.,ynat-v1_train_00000,4,NaN
3,경찰이 한국상공회의소 회장을 비롯해 20여 명의 '국회 불법 로비' 혐의로 구속했다.,ynat-v1_train_00001,3,NaN
4,교육계에서 급식용 천막 설치에 대한 논란이 다시 불타오르고 있다.,ynat-v1_train_00001,3,NaN
...,...,...,...,...
4059,"프로축구 선수 몸값 급등, 선수 에이전트들 수익 급증",ynat-v1_train_02792,1,스포츠
4060,"선수 몸값 상승, 구단 재정 압박 심화",ynat-v1_train_02792,1,스포츠
4061,텔레그램 등 아시아서 2시간 다운...카카오뱅크 서비스 장애 39분 지속(2보),ynat-v1_train_02797,4,IT과학
4062,"텔레그램 등 암호화 메신저, 아시아서 2시간 다운...사용자 혼란",ynat-v1_train_02797,4,IT과학
4063,"C버전 업데이트 후 텔레그램 등 메신저 2시간 장애 발생, 원인은?",ynat-v1_train_02797,4,IT과학

In [59]:
lst = []
for _, row in df_noisy_headline.iterrows():
    id = row['ID']
    target = row['target']
    retext = row['re_text'].strip()
    lst.append([id, retext, target])

In [60]:
for _, row in df_back_trans.iterrows():
    id = row['ID']
    target = row['target']
    text = row['text'].strip()
    lst.append([id, text, target])

In [61]:
df_noisy_aug = pd.DataFrame(lst, columns = ["ID", "text", "target"])

In [64]:
df_noisy_aug = df_noisy_aug.sort_values('ID')

In [67]:
df_noisy_aug = df_noisy_aug.drop_duplicates()

In [69]:
df_noisy_aug = df_noisy_aug.reset_index(drop=True)

In [71]:
label_encodeing_dic = {'생활문화': 0, '스포츠': 1, '정치': 2, '사회': 3, 'IT과학': 4, '경제': 5, '세계': 6}
label_decoding_dic = {v:k for k, v in label_encodeing_dic.items()}

In [74]:
df_noisy_aug['target_name'] = [label_decoding_dic[x] for x in df_noisy_aug['target']]

In [79]:
df_noisy_aug['source'] = 'noisy'

In [80]:
df_noisy_aug

,ID,text,target,target_name,source
0,ynat-v1_train_00000,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)",4,IT과학,noisy
1,ynat-v1_train_00000,미사용 주파수에 대한 정부와 KT에 대한 강력한 제재.,4,IT과학,noisy
2,ynat-v1_train_00000,"KT, 주파수 미사용으로 인한 사용 기간의 2년 단축.",4,IT과학,noisy
3,ynat-v1_train_00000,주파수를 사용하지 않은 정부와 KT는 사용 기간을 2년(합산 2회) 단축하여 처분한다.,4,IT과학,noisy
4,ynat-v1_train_00000,"KT, 주파수 미사용으로 이용기간 2년 단축 처분",4,IT과학,noisy
...,...,...,...,...,...
8809,ynat-v1_train_02797,"텔레그램 등 암호화 메신저, 아시아서 2시간 다운...사용자 혼란",4,IT과학,noisy
8810,ynat-v1_train_02797,C 버전을 업데이트한 후 텔레그램과 같은 메신저가 2시간 동안 다운되었는데 원인은 ...,4,IT과학,noisy
8811,ynat-v1_train_02797,텔레그램 및 기타 암호화 메신저는 아시아에서 2시간 동안 다운되었습니다... 사용자 혼란,4,IT과학,noisy
8812,ynat-v1_train_02797,"텔레그램 등이 아시아에서 2시간 동안 다운됐고, 카카오뱅크 서비스 장애가 39분(2...",4,IT과학,noisy
8813,ynat-v1_train_02797,"C버전 업데이트 후 텔레그램 등 메신저 2시간 장애 발생, 원인은?",4,IT과학,noisy

# not_noisy 데이터 추가

In [88]:
df_non = pd.read_csv('resources/processed/for_merge/simon_non_noise_third_train.csv', index_col=0)

In [92]:
df_non['target_name'] = [label_decoding_dic[x] for x in df_non['target']]

In [94]:
df_non['source'] = 'not_noisy'

In [96]:
df_f = pd.concat([df_noisy_aug, df_non])

In [99]:
df_f = df_f.sort_values("ID")

In [101]:
df_f['target'].value_counts()

target
1    1500
6    1497
2    1477
0    1434
3    1399
4    1389
5    1331
Name: count, dtype: int64

# NER 데이터 추가

In [104]:
df_ner = pd.read_csv('resources/processed/for_merge/ner_noise_only.csv', index_col=0)

In [108]:
df_ner = df_ner.drop('id', axis=1)

In [111]:
df_ner['target_name'] = [label_decoding_dic[x] for x in df_ner['target']]

In [113]:
df_ner['source'] = 'noisy'

In [114]:
df_ner

,ID,text,target,target_name,source
1213,ynat-v1_train_00000,정 파 미사 KT 이용기간 단 분종 보,4,IT과학,noisy
1217,ynat-v1_train_00001,찰 국 로 한 회장 송,3,사회,noisy
1221,ynat-v1_train_00002,김정 자주통일 새 열 나가야 보,2,정치,noisy
1225,ynat-v1_train_00004,美대선 앞두고 단 발 비해 감시 강화,6,세계,noisy
1229,ynat-v1_train_00006,프로야구 롯 광주 경기 천취소,1,스포츠,noisy
...,...,...,...,...,...
7541,ynat-v1_train_02787,이 노바 라이 미 어패 결 상품,6,세계,noisy
7545,ynat-v1_train_02788,남원소식 춘 학 단 장 모집,0,생활문화,noisy
7549,ynat-v1_train_02789,이총리 세 직 완 지 못해 할 일 꽤 남아,2,정치,noisy
7553,ynat-v1_train_02792,높 율 선수 몸값 상승,1,스포츠,noisy
7557,ynat-v1_train_02797,텔레그램 한 등 亞서 시간 다운 버 정 종 보,4,IT과학,noisy

In [116]:
df_f = pd.concat([df_f, df_ner])

In [119]:
df_f = df_f.sort_values('ID')

In [122]:
df_f = df_f.reset_index(drop=True)

In [126]:
df_f['source'].value_counts()

source
noisy        10401
not_noisy     1213
Name: count, dtype: int64

In [128]:
df_f.to_csv('train_20141104.csv', index=0, encoding='utf-8-sig')

In [129]:
df_f

,ID,text,target,target_name,source
0,ynat-v1_train_00000,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)",4,IT과학,noisy
1,ynat-v1_train_00000,"정부, KT 주파수 미사용에 강력한 제재 조치",4,IT과학,noisy
2,ynat-v1_train_00000,"KT, 주파수 미사용으로 이용기간 2년 단축 처분",4,IT과학,noisy
3,ynat-v1_train_00000,정 파 미사 KT 이용기간 단 분종 보,4,IT과학,noisy
4,ynat-v1_train_00000,"KT, 주파수 미사용으로 인한 사용 기간의 2년 단축.",4,IT과학,noisy
...,...,...,...,...,...
11609,ynat-v1_train_02797,C 버전을 업데이트한 후 텔레그램과 같은 메신저가 2시간 동안 다운되었는데 원인은 ...,4,IT과학,noisy
11610,ynat-v1_train_02797,텔레그램 및 기타 암호화 메신저는 아시아에서 2시간 동안 다운되었습니다... 사용자 혼란,4,IT과학,noisy
11611,ynat-v1_train_02797,"C버전 업데이트 후 텔레그램 등 메신저 2시간 장애 발생, 원인은?",4,IT과학,noisy
11612,ynat-v1_train_02798,인터뷰 류현진 친구에게 안타 맞는 것 싫어해 승부는 냉정,1,스포츠,not_noisy
11613,ynat-v1_train_02799,지능정보사회 대비 국가 종합대책 마련,3,사회,not_noisy