## 글자 수 비교
- 글자 수 차이 threshold: 19
    - `filtered_df`: 글자수 차이 19 이상
    - `will_use`: 글자수 차이 19 미만

In [1]:
import pandas as pd

ner_df = pd.read_csv('../data/train/ner_train.csv')

In [2]:
ner_df['compare_len'] = abs(ner_df['text'].str.len() - ner_df['re_text'].str.len())

In [3]:
ner_df = ner_df.drop(columns=['Unnamed: 0'])

In [4]:
ner_df

,ID,text,target,target_name,re_text,compare_len
0,ynat-v1_train_00000,정 파 미사 KT 이용기간 단 분종 보,4,IT과학,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)",16
1,ynat-v1_train_00001,찰 국 로 한 회장 송,3,사회,"경찰, '국회 불법 로비' 한어총 회장 등 20명 송치",18
2,ynat-v1_train_00002,김정 자주통일 새 열 나가야 보,2,정치,"김정은 ""자주통일 새시대 열어나가야""",3
3,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,4,경제,갤노트8 주말 27만대 개통...시장은 불법 보조금 얼룩,2
4,ynat-v1_train_00004,美대선 앞두고 단 발 비해 감시 강화,6,세계,"軍 ""美대선 앞두고 北 무수단 발사 대비해 감시 강화""",10
...,...,...,...,...,...,...
2795,ynat-v1_train_02795,트럼프 폭스뉴스 앵커들 충성도 점수매겨…10점만점에 12점도,6,세계,트럼프 폭스뉴스 앵커들 충성도 점수 매겨...10점 만점에 12점도,4
2796,ynat-v1_train_02796,삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠,4,정치,삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠,0
2797,ynat-v1_train_02797,텔레그램 한 등 亞서 시간 다운 버 정 종 보,4,IT과학,텔레그램 등 아시아서 2시간 다운...카카오뱅크 서비스 장애 39분 지속(2보),19
2798,ynat-v1_train_02798,인터뷰 류현진 친구에게 안타 맞는 것 싫어해…승부는 냉정,1,스포츠,"인터뷰: 류현진, 친구에게 안타 맞는 것 싫어해...승부는 냉정",4
2799,ynat-v1_train_02799,지능정보사회 대비 국가 종합대책 마련,4,IT과학,지능정보사회 대비 국가 종합대책 마련,0

In [5]:
# threshold: 19
filtered_df = ner_df[ner_df['compare_len']>=19]
filtered_df

,ID,text,target,target_name,re_text,compare_len
10,ynat-v1_train_00010,매력 모 츠 열 약 주가 고 진,5,경제,오일 매력적인 모델들이 열을 올리며 약 3억 주가 고평가되고 있다,19
13,ynat-v1_train_00013,아이 수리 대 맥 디 레,4,IT과학,아이들의 상상력을 수리하는 마법 같은 시간...맥락 없는 대화 41분,25
37,ynat-v1_train_00037,생산 인공광 에 기보다 에 활 적,4,IT과학,"정부, '태양광 발전 인공광에 생산 효율보다 비용 절감이 더 중요'",19
44,ynat-v1_train_00044,산업생산 째 고 제조 가동률은 금융위 수 합 보,5,경제,"산업생산이 8개월째 저조하고 제조업 가동률은 하락, 금융위는 수율 개선을 위한 대책...",32
48,ynat-v1_train_00048,자 구 김정 트로 보니 도 모르 이,1,스포츠,"베트남 구제금융 신청, 김정은 '트로이 목마' 전략 보니 정부도 모르는 상황",23
...,...,...,...,...,...,...
2755,ynat-v1_train_02755,북한도 르스 료 개 공단 출 원 발열 사 종합,2,정치,북한도 러시아와 협력해 개성공단 재가동을 추진 중...개성공단 출경원발열사 RX-J 종합,24
2758,ynat-v1_train_02758,영웅 박항서 금 향 명 에 카 레 드,1,스포츠,"박항서 베트남 축구 감독, 아시안게임 금메달 획득...선수 23명:엑스포에 참가",24
2763,ynat-v1_train_02763,월 손흥 시즌보 른 가속도,1,스포츠,"12월 손흥찬 감독, 올해 시즌보다 내년 시즌이 더 기대된다고 말했다",24
2779,ynat-v1_train_02779,클리 스마트 쓸 때 가장 까,4,IT과학,LG 클리커스 스마트 기기 사용할 때 가장 주의해야 할 점은 배터리 관리,25
2797,ynat-v1_train_02797,텔레그램 한 등 亞서 시간 다운 버 정 종 보,4,IT과학,텔레그램 등 아시아서 2시간 다운...카카오뱅크 서비스 장애 39분 지속(2보),19

In [6]:
will_use = ner_df[ner_df['compare_len']<19]
will_use

,ID,text,target,target_name,re_text,compare_len
0,ynat-v1_train_00000,정 파 미사 KT 이용기간 단 분종 보,4,IT과학,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)",16
1,ynat-v1_train_00001,찰 국 로 한 회장 송,3,사회,"경찰, '국회 불법 로비' 한어총 회장 등 20명 송치",18
2,ynat-v1_train_00002,김정 자주통일 새 열 나가야 보,2,정치,"김정은 ""자주통일 새시대 열어나가야""",3
3,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,4,경제,갤노트8 주말 27만대 개통...시장은 불법 보조금 얼룩,2
4,ynat-v1_train_00004,美대선 앞두고 단 발 비해 감시 강화,6,세계,"軍 ""美대선 앞두고 北 무수단 발사 대비해 감시 강화""",10
...,...,...,...,...,...,...
2794,ynat-v1_train_02794,문 대통령 김기식 금감원장 사표 수리키로종합,2,정치,"문재인 대통령, 김기식 금감원장 사표 수리키로(종합)",5
2795,ynat-v1_train_02795,트럼프 폭스뉴스 앵커들 충성도 점수매겨…10점만점에 12점도,6,세계,트럼프 폭스뉴스 앵커들 충성도 점수 매겨...10점 만점에 12점도,4
2796,ynat-v1_train_02796,삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠,4,정치,삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠,0
2798,ynat-v1_train_02798,인터뷰 류현진 친구에게 안타 맞는 것 싫어해…승부는 냉정,1,스포츠,"인터뷰: 류현진, 친구에게 안타 맞는 것 싫어해...승부는 냉정",4
2799,ynat-v1_train_02799,지능정보사회 대비 국가 종합대책 마련,4,IT과학,지능정보사회 대비 국가 종합대책 마련,0

In [9]:
will_use_ID = will_use['ID'].to_list()

In [11]:
noisy_df = pd.read_csv('../train_noisy.csv')
will_use_noisy = noisy_df[noisy_df['ID'].isin(will_use_ID)]

In [ ]:
will_use_noisy.to_csv('will_use_noisy.csv')

:

In [7]:
# 각 target별 개수와 비율 구하기
target_counts = will_use['target'].value_counts()
target_ratios = will_use['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
4         412  0.157492
5         397  0.151758
1         397  0.151758
2         383  0.146407
6         361  0.137997
0         360  0.137615
3         306  0.116972

___

## 증강한 headline 데이더셋에서 will use ID만 필터링
- `LLM_headline.csv`

In [9]:
head_df = pd.read_csv('../train_noisy_headline.csv')

In [10]:
will_use_ids = will_use['ID'].tolist()
head_use = head_df[head_df['ID'].isin(will_use_ids)]
head_use

,Unnamed: 0,ID,text,target,target_name,re_text
0,0,ynat-v1_train_00000,정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보,4,IT과학,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)"
1,1,ynat-v1_train_00000,정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보,4,IT과학,"KT, 주파수 미사용으로 이용기간 2년 단축 처분"
2,2,ynat-v1_train_00000,정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보,4,IT과학,"정부, KT 주파수 미사용에 강력한 제재 조치"
3,3,ynat-v1_train_00001,K찰.국DLwo 로L3한N% 회장 2 T0&}송=,3,사회,"경찰, '국회 불법 로비' 한어총 회장 등 20명 송치"
4,4,ynat-v1_train_00001,K찰.국DLwo 로L3한N% 회장 2 T0&}송=,3,사회,"교육계, 학교 급식 칸막이 설치 논란 재점화"
...,...,...,...,...,...,...
4753,4753,ynat-v1_train_02789,"이총리,세4. H직 완fl지 못해E할 일 꽤;남아",2,정치,"이총리, 4차 재난지원금 지급 난항 지속"
4754,4754,ynat-v1_train_02789,"이총리,세4. H직 완fl지 못해E할 일 꽤;남아",2,정치,"이총리, 재난지원금 지급 문제 해결 위해 추가 논의 필요"
4755,4755,ynat-v1_train_02792,"높`X#E율…}BO Q""[/선수 몸값 상승 CAO",1,스포츠,높은 취업률...선수 몸값 상승 논란
4756,4756,ynat-v1_train_02792,"높`X#E율…}BO Q""[/선수 몸값 상승 CAO",1,스포츠,"프로축구 선수 몸값 급등, 선수 에이전트들 수익 급증"
4757,4757,ynat-v1_train_02792,"높`X#E율…}BO Q""[/선수 몸값 상승 CAO",1,스포츠,"선수 몸값 상승, 구단 재정 압박 심화"

In [ ]:
head_use = head_use.drop(columns=['Unnamed: 0', 'text', 'target_name'])
head_use = head_use.rename(columns={'re_text': 'text'})

                       ID  target                                   text
0     ynat-v1_train_00000       4  정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)
1     ynat-v1_train_00000       4            KT, 주파수 미사용으로 이용기간 2년 단축 처분
2     ynat-v1_train_00000       4              정부, KT 주파수 미사용에 강력한 제재 조치
3     ynat-v1_train_00001       3         경찰, '국회 불법 로비' 한어총 회장 등 20명 송치
4     ynat-v1_train_00001       3               교육계, 학교 급식 칸막이 설치 논란 재점화
...                   ...     ...                                    ...
4753  ynat-v1_train_02789       2                 이총리, 4차 재난지원금 지급 난항 지속
4754  ynat-v1_train_02789       2        이총리, 재난지원금 지급 문제 해결 위해 추가 논의 필요
4755  ynat-v1_train_02792       1                   높은 취업률...선수 몸값 상승 논란
4756  ynat-v1_train_02792       1          프로축구 선수 몸값 급등, 선수 에이전트들 수익 급증
4757  ynat-v1_train_02792       1                  선수 몸값 상승, 구단 재정 압박 심화

[4218 rows x 3 columns]

In [13]:
head_use = head_use.drop_duplicates(subset='text', keep='first')
head_use = head_use.sample(frac=1, random_state=42).reset_index(drop=True)

In [ ]:
head_use.to_csv('LLM_headline.csv')

In [14]:
# 각 target별 개수와 비율 구하기
target_counts = head_use['target'].value_counts()
target_ratios = head_use['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
6         590  0.160326
2         569  0.154620
1         550  0.149457
3         550  0.149457
0         546  0.148370
4         457  0.124185
5         418  0.113587

___

## len_compare exp

In [15]:
ens_df = pd.read_csv('../ensemble_targets_ssb.csv')
not_noisy_df = pd.read_csv('../train_not_noisy.csv')

In [16]:
not_noisy_ids = not_noisy_df['ID'].tolist()
ens_use = ens_df[ens_df['ID'].isin(not_noisy_ids)]
ens_use

                       ID  target                             text
3     ynat-v1_train_00003       4       갤노트 주말 만대 개통 시장은 불법 보조금 얼룩
5     ynat-v1_train_00005       6     美성인 명 중 명꼴 배우자 연인 빚 떠안은 적 있다
7     ynat-v1_train_00007       1         아가메즈 득점 우리카드 손해보험 완파 위 굳
8     ynat-v1_train_00008       2   朴대통령 얼마나 많이 놀라셨어요 경주 지진현장 방문종합
9     ynat-v1_train_00009       4       듀얼심 아이폰 하반기 출시설 솔솔 알뜰폰 기대감
...                   ...     ...                              ...
2794  ynat-v1_train_02794       2         문 대통령 김기식 금감원장 사표 수리키로종합
2795  ynat-v1_train_02795       6    트럼프 폭스뉴스 앵커들 충성도 점수매겨 점만점에 점도
2796  ynat-v1_train_02796       4        삼성 갤럭시 정식 출시 첫 주말 이통시장 잠잠
2798  ynat-v1_train_02798       1  인터뷰 류현진 친구에게 안타 맞는 것 싫어해 승부는 냉정
2799  ynat-v1_train_02799       3             지능정보사회 대비 국가 종합대책 마련

[1213 rows x 3 columns]

In [17]:
# 각 target별 개수와 비율 구하기
target_counts = ens_use['target'].value_counts()
target_ratios = ens_use['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
5         202  0.166529
1         199  0.164056
6         189  0.155812
4         185  0.152514
0         159  0.131080
2         151  0.124485
3         128  0.105523

In [19]:
final_df = pd.concat([ens_df, head_use], ignore_index=True)
final_df = final_df.drop_duplicates(subset='text', keep='first')
final_df = final_df.sample(frac=1, random_state=42).reset_index(drop=True)
final_df

                       ID  target                              text
0     ynat-v1_train_02095       6                 꽁 잡 중조업 양 어획 경쟁 망
1     ynat-v1_train_02416       5           한국 달 탐사 등 우주개발 탄력 받는다종합
2     ynat-v1_train_01999       4  IBM, 새로운 AI 솔루션 Q1 출시...시장 반응 주목
3     ynat-v1_train_00351       2          신당 호 친노 지역구에 특별 천 전면전 선포
4     ynat-v1_train_00912       4    갤럭시 S9 퀀텀 패키지 출시, 5천대 한정 판매 개시
...                   ...     ...                               ...
6473  ynat-v1_train_00783       6   북미, 치열한 경제 경쟁 속 아E존의 전략적 중요성 부각
6474  ynat-v1_train_02306       4        갤럭시 S8 개통 이틀 만에 주요일 재방송 부족
6475  ynat-v1_train_00550       6         호무즈 해협 드론 공격, 중동 정세 불안 심화
6476  ynat-v1_train_01752       2   최순실, 박근혜 정부 핵심 인사들과 비밀리에 5억원 요구
6477  ynat-v1_train_00860       5                  애플 이 서 루만 천 등 대박

[6478 rows x 3 columns]

In [20]:
# 각 target별 개수와 비율 구하기
target_counts = final_df['target'].value_counts()
target_ratios = final_df['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
6        1006  0.155295
1         975  0.150509
2         948  0.146341
0         931  0.143717
3         903  0.139395
4         869  0.134146
5         846  0.130596

In [ ]:
final_df.to_csv('len_compare.csv')

:

___

## len_again exp

In [1]:
import pandas as pd

ner_df = pd.read_csv('../data/train/ner_train.csv')

In [2]:
ner_df['compare_len'] = abs(ner_df['text'].str.len() - ner_df['re_text'].str.len())
ner_df = ner_df.drop(columns=['Unnamed: 0'])
will_use = ner_df[ner_df['compare_len']<19]
will_use

,ID,text,target,target_name,re_text,compare_len
0,ynat-v1_train_00000,정 파 미사 KT 이용기간 단 분종 보,4,IT과학,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)",16
1,ynat-v1_train_00001,찰 국 로 한 회장 송,3,사회,"경찰, '국회 불법 로비' 한어총 회장 등 20명 송치",18
2,ynat-v1_train_00002,김정 자주통일 새 열 나가야 보,2,정치,"김정은 ""자주통일 새시대 열어나가야""",3
3,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,4,경제,갤노트8 주말 27만대 개통...시장은 불법 보조금 얼룩,2
4,ynat-v1_train_00004,美대선 앞두고 단 발 비해 감시 강화,6,세계,"軍 ""美대선 앞두고 北 무수단 발사 대비해 감시 강화""",10
...,...,...,...,...,...,...
2794,ynat-v1_train_02794,문 대통령 김기식 금감원장 사표 수리키로종합,2,정치,"문재인 대통령, 김기식 금감원장 사표 수리키로(종합)",5
2795,ynat-v1_train_02795,트럼프 폭스뉴스 앵커들 충성도 점수매겨…10점만점에 12점도,6,세계,트럼프 폭스뉴스 앵커들 충성도 점수 매겨...10점 만점에 12점도,4
2796,ynat-v1_train_02796,삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠,4,정치,삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠,0
2798,ynat-v1_train_02798,인터뷰 류현진 친구에게 안타 맞는 것 싫어해…승부는 냉정,1,스포츠,"인터뷰: 류현진, 친구에게 안타 맞는 것 싫어해...승부는 냉정",4
2799,ynat-v1_train_02799,지능정보사회 대비 국가 종합대책 마련,4,IT과학,지능정보사회 대비 국가 종합대책 마련,0

In [3]:
will_use_text = will_use.drop(columns=['re_text', 'target_name', 'compare_len'])
will_use_text

                       ID                               text  target
0     ynat-v1_train_00000              정 파 미사 KT 이용기간 단 분종 보       4
1     ynat-v1_train_00001                       찰 국 로 한 회장 송       3
2     ynat-v1_train_00002                  김정 자주통일 새 열 나가야 보       2
3     ynat-v1_train_00003      갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩       4
4     ynat-v1_train_00004               美대선 앞두고 단 발 비해 감시 강화       6
...                   ...                                ...     ...
2794  ynat-v1_train_02794           문 대통령 김기식 금감원장 사표 수리키로종합       2
2795  ynat-v1_train_02795  트럼프 폭스뉴스 앵커들 충성도 점수매겨…10점만점에 12점도       6
2796  ynat-v1_train_02796        삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠       4
2798  ynat-v1_train_02798    인터뷰 류현진 친구에게 안타 맞는 것 싫어해…승부는 냉정       1
2799  ynat-v1_train_02799               지능정보사회 대비 국가 종합대책 마련       4

[2616 rows x 3 columns]

In [4]:
will_use_retext = will_use.drop(columns=['text', 'target_name', 'compare_len'])
will_use_retext = will_use_retext.rename(columns={'re_text': 'text'})
will_use_retext

                       ID  target                                   text
0     ynat-v1_train_00000       4  정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)
1     ynat-v1_train_00001       3         경찰, '국회 불법 로비' 한어총 회장 등 20명 송치
2     ynat-v1_train_00002       2                   김정은 "자주통일 새시대 열어나가야"
3     ynat-v1_train_00003       4        갤노트8 주말 27만대 개통...시장은 불법 보조금 얼룩
4     ynat-v1_train_00004       6         軍 "美대선 앞두고 北 무수단 발사 대비해 감시 강화"
...                   ...     ...                                    ...
2794  ynat-v1_train_02794       2          문재인 대통령, 김기식 금감원장 사표 수리키로(종합)
2795  ynat-v1_train_02795       6  트럼프 폭스뉴스 앵커들 충성도 점수 매겨...10점 만점에 12점도
2796  ynat-v1_train_02796       4            삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠
2798  ynat-v1_train_02798       1    인터뷰: 류현진, 친구에게 안타 맞는 것 싫어해...승부는 냉정
2799  ynat-v1_train_02799       4                   지능정보사회 대비 국가 종합대책 마련

[2616 rows x 3 columns]

In [5]:
will_use_retext.to_csv('to_aug.csv')

In [18]:
final_df = pd.concat([will_use_text, will_use_retext], ignore_index=True)
final_df = final_df.drop_duplicates(subset='text', keep='first')
final_df

                       ID                                   text  target
0     ynat-v1_train_00000                  정 파 미사 KT 이용기간 단 분종 보       4
1     ynat-v1_train_00001                           찰 국 로 한 회장 송       3
2     ynat-v1_train_00002                      김정 자주통일 새 열 나가야 보       2
3     ynat-v1_train_00003          갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩       4
4     ynat-v1_train_00004                   美대선 앞두고 단 발 비해 감시 강화       6
...                   ...                                    ...     ...
5225  ynat-v1_train_02792                   높은 취업률...선수 몸값 상승 논란       1
5226  ynat-v1_train_02793       경찰 5월 초 외국인 관광객을 위해 바가지 요금 집중 단속       3
5227  ynat-v1_train_02794          문재인 대통령, 김기식 금감원장 사표 수리키로(종합)       2
5228  ynat-v1_train_02795  트럼프 폭스뉴스 앵커들 충성도 점수 매겨...10점 만점에 12점도       6
5230  ynat-v1_train_02798    인터뷰: 류현진, 친구에게 안타 맞는 것 싫어해...승부는 냉정       1

[4870 rows x 3 columns]

In [20]:
# 각 target별 개수와 비율 구하기
target_counts = final_df['target'].value_counts()
target_ratios = final_df['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
4         750  0.154004
5         742  0.152361
1         742  0.152361
2         733  0.150513
6         677  0.139014
0         662  0.135934
3         564  0.115811

In [19]:
final_df.to_csv('len_again.csv')

___

## all_headline exp

In [21]:
import pandas as pd

head_df = pd.read_csv('../train_noisy_headline.csv')

In [22]:
filtered_ids = filtered_df['ID'].tolist()

head_df = head_df[head_df['ID'].isin(filtered_ids)]
head_df

,Unnamed: 0,ID,text,target,target_name,re_text
15,15,ynat-v1_train_00010,oi 매력 R모h츠a열#w3약 >l·주가 고Q/진,5,경제,오일 매력적인 모델들이 열을 올리며 약 3억 주가 고평가되고 있다
16,16,ynat-v1_train_00010,oi 매력 R모h츠a열#w3약 >l·주가 고Q/진,5,경제,"삼성전자, 3분기 영업이익 6조원 감소"
17,17,ynat-v1_train_00010,oi 매력 R모h츠a열#w3약 >l·주가 고Q/진,5,경제,LGU+ 통신요금 4만원 이상 고객에게 고금리 적금 출시
18,18,ynat-v1_train_00013,아이`XSI수리0* b대`…맥3 디dF레< 41/',4,IT과학,아이들의 상상력을 수리하는 마법 같은 시간...맥락 없는 대화 41분
19,19,ynat-v1_train_00013,아이`XSI수리0* b대`…맥3 디dF레< 41/',4,IT과학,"삼성전자, AI 기반 신제품 공개로 업무 효율 극대화"
...,...,...,...,...,...,...
4732,4732,ynat-v1_train_02779,+클리 스마트G=<MVx 쓸Y때c가장{jZf까,4,IT과학,"삼성, 새로운 AI 기능 탑재한 갤럭시 S9 퀀텀 패키지 출시"
4733,4733,ynat-v1_train_02779,+클리 스마트G=<MVx 쓸Y때c가장{jZf까,4,IT과학,"삼성전자, 자율주행로보틱스 연구로 미래 먹거리 모색"
4758,4758,ynat-v1_train_02797,텔레그램+한D 등h亞서 2시간H다운…C버T정gf39종!2보,4,IT과학,텔레그램 등 아시아서 2시간 다운...카카오뱅크 서비스 장애 39분 지속(2보)
4759,4759,ynat-v1_train_02797,텔레그램+한D 등h亞서 2시간H다운…C버T정gf39종!2보,4,IT과학,"텔레그램 등 암호화 메신저, 아시아서 2시간 다운...사용자 혼란"
4760,4760,ynat-v1_train_02797,텔레그램+한D 등h亞서 2시간H다운…C버T정gf39종!2보,4,IT과학,"C버전 업데이트 후 텔레그램 등 메신저 2시간 장애 발생, 원인은?"

In [23]:
head_df = head_df.drop(columns=['text', 'target_name', 'Unnamed: 0'])
head_df = head_df.rename(columns={'re_text': 'text'})
head_df

,ID,target,text
15,ynat-v1_train_00010,5,오일 매력적인 모델들이 열을 올리며 약 3억 주가 고평가되고 있다
16,ynat-v1_train_00010,5,"삼성전자, 3분기 영업이익 6조원 감소"
17,ynat-v1_train_00010,5,LGU+ 통신요금 4만원 이상 고객에게 고금리 적금 출시
18,ynat-v1_train_00013,4,아이들의 상상력을 수리하는 마법 같은 시간...맥락 없는 대화 41분
19,ynat-v1_train_00013,4,"삼성전자, AI 기반 신제품 공개로 업무 효율 극대화"
...,...,...,...
4732,ynat-v1_train_02779,4,"삼성, 새로운 AI 기능 탑재한 갤럭시 S9 퀀텀 패키지 출시"
4733,ynat-v1_train_02779,4,"삼성전자, 자율주행로보틱스 연구로 미래 먹거리 모색"
4758,ynat-v1_train_02797,4,텔레그램 등 아시아서 2시간 다운...카카오뱅크 서비스 장애 39분 지속(2보)
4759,ynat-v1_train_02797,4,"텔레그램 등 암호화 메신저, 아시아서 2시간 다운...사용자 혼란"
4760,ynat-v1_train_02797,4,"C버전 업데이트 후 텔레그램 등 메신저 2시간 장애 발생, 원인은?"

In [24]:
len_compare = pd.read_csv('../data/train/len_compare.csv')
len_compare

,Unnamed: 0,ID,target,text
0,0,ynat-v1_train_02095,6,꽁 잡 중조업 양 어획 경쟁 망
1,1,ynat-v1_train_02416,5,한국 달 탐사 등 우주개발 탄력 받는다종합
2,2,ynat-v1_train_00169,5,사채 5조 9000억원...올 대비 55% 증가
3,3,ynat-v1_train_00351,2,신당 호 친노 지역구에 특별 천 전면전 선포
4,4,ynat-v1_train_02010,5,"LGU+, 올해 연결 영업익 300억원 줄어...통신시장 경쟁 심화"
...,...,...,...,...
6473,6473,ynat-v1_train_00732,1,"김욱, 경남 선거서 승리...새로운 정치 시대 열다"
6474,6474,ynat-v1_train_01778,4,"LG유플러스, 알뜰폰 제휴로 아이폰 3GB 공급...월 100원"
6475,6475,ynat-v1_train_01804,2,"박 총리, 창조경제 활성화 위해 새로운 정책 발표"
6476,6476,ynat-v1_train_01941,6,러 일본과 영토 분쟁 관련 협상 난항...8년 만에 회담
6477,6477,ynat-v1_train_00860,5,애플 이 서 루만 천 등 대박

In [25]:
final_df = pd.concat([len_compare, head_df], ignore_index=True)
final_df = final_df.drop_duplicates(subset='text', keep='first')
final_df = final_df.sample(frac=1, random_state=42).reset_index(drop=True)
final_df

,Unnamed: 0,ID,target,text
0,5728.0,ynat-v1_train_01993,1,"롯데 시네마, '리틀 포레스트' 상영 재개 결정"
1,5345.0,ynat-v1_train_01834,3,랜섬 어 국 피해 신고 건 추가 건
2,2906.0,ynat-v1_train_00840,0,클래식으로 물드는 13번째 (종합)
3,3257.0,ynat-v1_train_01356,3,네이 인 시범 서비스 개시
4,4607.0,ynat-v1_train_02607,5,"G형 R드에H9, 투자자들의 관심 속 2000억 원 이상 자금 유입"
...,...,...,...,...
6874,3772.0,ynat-v1_train_02687,4,이 뉴스 사람 손 확 줄였다 뉴 션홈 편
6875,5191.0,ynat-v1_train_00250,2,"민주노총, 북미정상회담 앞두고 야당과 협력 모색"
6876,5226.0,ynat-v1_train_00439,3,경기도 첫 수소차 충전소 설치 완료
6877,5390.0,ynat-v1_train_01248,4,이미지스 터치스크린 압력센싱 장치 특허권 취득
6878,860.0,ynat-v1_train_01204,0,"한국 원로들, 차기 지도자로 52% 선택...정치적 변화 예고"

In [26]:
final_df = final_df.drop(columns=['Unnamed: 0'])
final_df.to_csv('all_headline.csv')

In [27]:
# 각 target별 개수와 비율 구하기
target_counts = final_df['target'].value_counts()
target_ratios = final_df['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
1        1065  0.154819
6        1047  0.152202
2        1005  0.146097
0         974  0.141590
4         947  0.137665
3         940  0.136648
5         901  0.130978

___

In [5]:
import pandas as pd

df = pd.read_csv('../train_noisy_headline.csv')

In [6]:
df = df.drop(columns=['Unnamed: 0', 'target_name', 'text'])
df = df.rename(columns={'re_text': 'text'})
df

,ID,target,text
0,ynat-v1_train_00000,4,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)"
1,ynat-v1_train_00000,4,"KT, 주파수 미사용으로 이용기간 2년 단축 처분"
2,ynat-v1_train_00000,4,"정부, KT 주파수 미사용에 강력한 제재 조치"
3,ynat-v1_train_00001,3,"경찰, '국회 불법 로비' 한어총 회장 등 20명 송치"
4,ynat-v1_train_00001,3,"교육계, 학교 급식 칸막이 설치 논란 재점화"
...,...,...,...
4756,ynat-v1_train_02792,1,"프로축구 선수 몸값 급등, 선수 에이전트들 수익 급증"
4757,ynat-v1_train_02792,1,"선수 몸값 상승, 구단 재정 압박 심화"
4758,ynat-v1_train_02797,4,텔레그램 등 아시아서 2시간 다운...카카오뱅크 서비스 장애 39분 지속(2보)
4759,ynat-v1_train_02797,4,"텔레그램 등 암호화 메신저, 아시아서 2시간 다운...사용자 혼란"
4760,ynat-v1_train_02797,4,"C버전 업데이트 후 텔레그램 등 메신저 2시간 장애 발생, 원인은?"

In [7]:
df.to_csv('LLM_all.csv')

In [13]:
df = pd.read_csv('../data/train/llm_all_cleanlab.csv')

In [14]:
ddf = pd.read_csv('../data/train/chr_masked_cleanlab.csv')

In [15]:
dfd = pd.concat([df, ddf])

In [16]:
dfd.to_csv('all_llm_sum.csv')