## 증강 데이터 합치기 (사회(3), IT과학(4), 경제(5))

In [ ]:
import pandas as pd

social = pd.read_csv('social.csv')
economy = pd.read_csv('economy.csv')
science = pd.read_csv('science.csv')

In [39]:
social = social.rename(columns={'predicted_value': 'target'})

In [41]:
aug = pd.concat([social, science, economy], axis=0, ignore_index=True)
aug = aug.drop(columns=['Unnamed: 0'])
aug

                      ID                                     text  target
0    ynat-v1_train_00192      대기업 공장의 신규 안전 프로토콜 도입, 노동자 혜택 확장 검토       3
1    ynat-v1_train_00192                 서울 버스 노선 개편, 교통 혼잡 완화 기대       3
2    ynat-v1_train_00192         건설 현장의 안전 강화 방안, 시간당 임금 제도 개편 논의       3
3    ynat-v1_train_00192                     인천 공항 활주로 폐쇄, 항공편 지연       3
4    ynat-v1_train_00192                      대전 광역버스 요금 인상 계획 발표       3
..                   ...                                      ...     ...
395                  NaN  K팝, 글로벌 시장에서 경제 성장 동력… 팬덤 효과와 콘텐츠 수출 확대       5
396                  NaN          글로벌 협력, 새로운 시대 개막… 세계 경제 성장 활성화       5
397                  NaN          글로벌 금리 상승 추세… 한국 달러 환율 변동 주의 필요       5
398                  NaN          대기업, 1분기 실적 감소 전망… 글로벌 경기 불안 지속       5
399                  NaN                국내 내수 시장 활성화 노력, 경제 회복 촉진       5

[400 rows x 3 columns]

In [42]:
all_drop = pd.read_csv('filtered_second_cleanlab_ids_outlier.csv')
little_drop = pd.read_csv('filtered_third_cleanlab_ids_outlier.csv')

In [45]:
aug_all_drop = pd.concat([all_drop, aug], axis=0, ignore_index=True)
aug_all_drop

,ID,text,target,target_name,similarity
0,ynat-v1_train_00727,봄맞이 벚꽃 와인으로 취향저격,0,생활문화,0.20313
1,ynat-v1_train_00128,강원도 교원협회 교원들과 일점탈락제 도입에 대한 반대.,3,사회,0.21350
2,ynat-v1_train_01720,페이스북 메신저 암호화 기능 저커버그 미래는 프라이빗,4,IT과학,0.22304
3,ynat-v1_train_01947,"미래에셋대우, 엔씨소프트 매출 1위 확보...매출 목표 상향 조정",5,경제,0.23478
4,ynat-v1_train_01562,"김동연 부총리, 교육계와의 토론회서 혁신적 교육 정책 논의",3,사회,0.19837
...,...,...,...,...,...
11035,NaN,"K팝, 글로벌 시장에서 경제 성장 동력… 팬덤 효과와 콘텐츠 수출 확대",5,NaN,NaN
11036,NaN,"글로벌 협력, 새로운 시대 개막… 세계 경제 성장 활성화",5,NaN,NaN
11037,NaN,글로벌 금리 상승 추세… 한국 달러 환율 변동 주의 필요,5,NaN,NaN
11038,NaN,"대기업, 1분기 실적 감소 전망… 글로벌 경기 불안 지속",5,NaN,NaN
11039,NaN,"국내 내수 시장 활성화 노력, 경제 회복 촉진",5,NaN,NaN

In [50]:
# 각 target별 개수와 비율 구하기
target_counts = aug_all_drop['target'].value_counts()
target_ratios = aug_all_drop['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
2        1643  0.148822
1        1630  0.147645
5        1608  0.145652
6        1592  0.144203
3        1570  0.142210
4        1540  0.139493
0        1457  0.131975

In [46]:
aug_little_drop = pd.concat([little_drop, aug], axis=0, ignore_index=True)
aug_little_drop

,ID,text,target,target_name,similarity
0,ynat-v1_train_00727,봄맞이 벚꽃 와인으로 취향저격,0,생활문화,0.20335
1,ynat-v1_train_00128,강원도 교원협회 교원들과 일점탈락제 도입에 대한 반대.,3,사회,0.21290
2,ynat-v1_train_01720,페이스북 메신저 암호화 기능 저커버그 미래는 프라이빗,4,IT과학,0.22294
3,ynat-v1_train_01356,네이버 인앱 결제 시범 서비스 개시,4,IT과학,0.25291
4,1579,오늘 네이버 홈페이지 모바일 첫 화면 전면 메인 검색창 위주 개편...뉴스·실급검 ...,4,IT과학,0.22425
...,...,...,...,...,...
11404,NaN,"K팝, 글로벌 시장에서 경제 성장 동력… 팬덤 효과와 콘텐츠 수출 확대",5,NaN,NaN
11405,NaN,"글로벌 협력, 새로운 시대 개막… 세계 경제 성장 활성화",5,NaN,NaN
11406,NaN,글로벌 금리 상승 추세… 한국 달러 환율 변동 주의 필요,5,NaN,NaN
11407,NaN,"대기업, 1분기 실적 감소 전망… 글로벌 경기 불안 지속",5,NaN,NaN
11408,NaN,"국내 내수 시장 활성화 노력, 경제 회복 촉진",5,NaN,NaN

In [49]:
# 각 target별 개수와 비율 구하기
target_counts = aug_little_drop['target'].value_counts()
target_ratios = aug_little_drop['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
2        1695  0.148567
6        1665  0.145937
5        1647  0.144360
1        1645  0.144184
4        1635  0.143308
3        1623  0.142256
0        1499  0.131388

In [48]:
aug_all_drop.to_csv('filtered_second_cleanlab_ids_outlier_aug.csv')
aug_little_drop.to_csv('filtered_third_cleanlab_ids_outlier_aug.csv')