In [22]:
import pandas as pd

In [23]:
df_headline = pd.read_csv("resources/processed/train_noisy_headline_update.csv", index_col=0)
df_topic = pd.read_csv("resources/processed/train_not_noisy_topic_update.csv", index_col=0)

In [24]:
lst = []
for _, row in df_headline.iterrows():
    id = row['ID']
    target = row['target']
    target_name = row['target_name']
    re_text = row['re_text']
    lst.append([id, re_text, target, target_name])

In [25]:
df_ = pd.DataFrame(lst, columns = ['ID', 'text', 'target', 'target_name'])

In [27]:
df_.to_csv("resources/processed/train_only_headline_inference.csv", index=0, encoding='utf-8-sig')

In [28]:
df_

,ID,text,target,target_name
0,ynat-v1_train_00000,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)",4,IT과학
1,ynat-v1_train_00000,"KT, 주파수 미사용으로 이용기간 2년 단축 처분",4,IT과학
2,ynat-v1_train_00000,"정부, KT 주파수 미사용에 강력한 제재 조치",4,IT과학
3,ynat-v1_train_00001,"경찰, '국회 불법 로비' 한어총 회장 등 20명 송치",3,사회
4,ynat-v1_train_00001,"교육계, 학교 급식 칸막이 설치 논란 재점화",3,사회
...,...,...,...,...
4756,ynat-v1_train_02792,"프로축구 선수 몸값 급등, 선수 에이전트들 수익 급증",1,스포츠
4757,ynat-v1_train_02792,"선수 몸값 상승, 구단 재정 압박 심화",1,스포츠
4758,ynat-v1_train_02797,텔레그램 등 아시아서 2시간 다운...카카오뱅크 서비스 장애 39분 지속(2보),4,IT과학
4759,ynat-v1_train_02797,"텔레그램 등 암호화 메신저, 아시아서 2시간 다운...사용자 혼란",4,IT과학
4760,ynat-v1_train_02797,"C버전 업데이트 후 텔레그램 등 메신저 2시간 장애 발생, 원인은?",4,IT과학

In [10]:
for _, row in df_topic.iterrows():
    id = row['ID']
    target = row['target']
    target_name = row['target_name']
    text = row['text']
    lst.append([id, text, target, target_name])

In [11]:
df_f = pd.DataFrame(lst, columns = ['ID', 'text', 'target', 'target_name'])

In [13]:
df_f = df_f.sort_values(['ID'])

In [15]:
df_f = df_f.reset_index(drop=True)

In [17]:
df_f.to_csv("resources/processed/train_headline_topic_update.csv", index=0, encoding='utf-8-sig')